<div class="container wrapper">
  <div class="row">
      <!-- table -->
      <div class="col-md-12">
          <div class="inner">
              <h1>Lista de Socios</h1>
              <a class="btn btn-primary text-white add" routerLink="/add-spouse">
                <i class="fas fa-user-plus"></i> Agregar
              </a>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre Completo</th>
                          <th scope="col">DNI</th>
                          <th scope="col">Teléfono</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of spouseList">
                          <th scope="row">{{item.id}}</th>
                          <td>{{item.fullname}}</td>
                          <td>{{item.dni}}</td>
                          <td>{{item.phone}}</td>

                          <td>
                              <button type="button" class="btn btn-success btn-sm move-right" (click)="onEdit(item)">Edit</button>
                              <button type="button" class="btn btn-danger btn-sm" (click)="deleteSpouse(item.id)">Remove</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

